<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <span class="bi-bar-chart-fill me-2"></span>
            PoolApp
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <NavLink class="nav-item d-flex align-items-center px-3"
                 href="" Match="NavLinkMatch.All"
                 style="margin-top: 20px; margin-bottom: 20px;">
            <span class="bi bi-house-fill me-2" style="font-size:1.2rem; margin-left:10px; vertical-align:middle; color:white;"></span>
            <span style="color:white;">Home</span>
        </NavLink>

        <NavLink class="nav-item d-flex align-items-center px-3"
                 href="groups"
                 style="margin-bottom: 20px;">
            <span class="bi bi-grid-fill me-2" style="font-size:1.2rem; margin-left:10px; vertical-align:middle; color:white;"></span>
            <span style="color:white;">Groups</span>
        </NavLink>

        <NavLink class="nav-item d-flex align-items-center px-3"
                 href="bracket"
                 style="margin-bottom: 20px;">
            <span class="bi bi-list-ul me-2" style="font-size:1.2rem; margin-left:10px; vertical-align:middle; color:white;"></span>
            <span style="color:white;">Brackets</span>
        </NavLink>

        <NavLink class="nav-item d-flex align-items-center px-3"
                 href="ranking"
                 style="margin-bottom: 20px;">
            <span class="bi bi-trophy-fill me-2" style="font-size:1.2rem; margin-left:10px; vertical-align:middle; color:white;"></span>
            <span style="color:white;">Ranking</span>
        </NavLink>

        
    </nav>
 
</div>




