<!-- UserIdDisplay.razor -->
@rendermode InteractiveServer

@using PoolApp.Infrastructure.Data;
@using PoolApp.Domain.EntitiesBrackets;
@using PoolApp.Domain.EntitiesUsers;
@using PoolApp.Application.Interfaces;
@using Microsoft.EntityFrameworkCore;

@inject PoolApp.Services.UserState userState
@inject NavigationManager NavManager
@inject IGamesGroupsRepo GamesGroupsRepo
@inject IGamesBracketsRepo GamesBracketsRepo
@inject IUsersRepo UsersRepo



@if (userState.userid == 0)
{
    <a href="register">Register</a>
    <a href="userauth">Login</a>
}

@if (!(userState.userid == 0))
{
    <span>Welcome Back @userState.Name - Your Points @userState.Points</span>
    <button class="btn btn-link" @onclick="Logout">Logout</button>
}

<a href="https://learn.microsoft.com/en-us/aspnet/core/" target="_blank">About</a>




@code
{


    protected override void OnInitialized()
    {
        userState.OnChange += Refresh;
    }

    private void Refresh()
    {
        _ = InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        userState.OnChange -= Refresh;
    }

    private void Logout()
    {
        userState.userid = 0;
        userState.Name = null;
        userState.NotifyStateChanged();
        NavManager.NavigateTo("/userauth");
    }


    protected override async Task OnInitializedAsync()
    {
        var userGroupsGuess = await GamesGroupsRepo.GetAllUsersGuess()
                        .ToListAsync();

        var userBracketsGuess = await GamesBracketsRepo.GetAllUsersGuess()
                         .ToListAsync();

        var gamesGroup = await GamesGroupsRepo.GetAllGames()
                      .ToListAsync();

        var gamesBracket = await GamesBracketsRepo.GetAllGames()
           .ToListAsync();

        var allusersList = await UsersRepo.GetAllUsersInfo();

        var user = allusersList.FirstOrDefault(c => c.id == userState.userid);

        if (user != null)
        {
            user.Points = 0;
            foreach (var guess in userGroupsGuess)
            {
                foreach (var game in gamesGroup)
                {
                    if (guess.MatchID == game.id && guess.UserID == user.id)
                    {
                        if (guess.HomeScore == game.HomeScore && guess.AwayScore == game.AwayScore)
                        {
                            user.Points = (user.Points ?? 0) + 3;
                        }
                        else if (guess.HomeScore >= game.HomeScore && game.HomeScore > game.AwayScore && !(guess.AwayScore == game.AwayScore) ||
                                guess.AwayScore >= game.AwayScore && game.AwayScore > game.HomeScore && !(guess.HomeScore == game.HomeScore))
                        {
                            user.Points = (user.Points ?? 0) + 1;
                        }
                    }
                }
            }


            foreach (var guess in userBracketsGuess)
            {
                foreach (var game in gamesBracket)
                {
                    if (guess.MatchID == game.id && guess.UserID == user.id)
                    {
                        if (guess.HomeScore == game.HomeScore && guess.AwayScore == game.AwayScore)
                        {
                            user.Points = (user.Points ?? 0) + 3;
                        }
                        else if (guess.HomeScore >= game.HomeScore && game.HomeScore > game.AwayScore && !(guess.AwayScore == game.AwayScore) ||
                                guess.AwayScore >= game.AwayScore && game.AwayScore > game.HomeScore && !(guess.HomeScore == game.HomeScore))
                        {
                            user.Points = (user.Points ?? 0) + 1;
                        }
                    }
                }

            }


            userState.Points = user.Points ?? 0;
            userState.NotifyStateChanged();
        }

        
    }
}

